telegram_token: "123456789:AAFxxxxxxxxxxxxxxxxxxxxxxxxxxx"
threads: 100

admins:
  - 123456789   # 替换为你的 Telegram 用户 ID

environments:
  - name: dev
    region: us-east-1
    bucket: my-company-dev-bucket
    access_key_id: AKIA...
    secret_access_key: ...

  - name: prod
    region: us-east-1
    bucket: my-company-prod-bucket
    access_key_id: AKIA...
    secret_access_key: ...

  - name: eks-hb
    region: ap-southeast-1
    bucket: my-company-hb-bucket
    access_key_id: AKIA...
    secret_access_key: ...